<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">
	        <img alt="Lego" src="/images/legologo.png" id="lego">
	      </a>

	    </div>
	    <a href="/resetUserVotes"><button type="button" class="btn btn-info navbar-btn navbar-right">Reset</button></a>
	    <form method="post" enctype="multipart/form-data" action="/">
			
			<input type="submit" name="submit" class="btn btn-info navbar-btn navbar-right" value="Upload">
			<input type="file" name="upl" class="btn navbar-btn navbar-right">
		</form>
	  </div>

	</nav>
	<h1><u>Real</u> Lego or Fake?</h1>
	
	<div id="imgHolder">
		<img src="/images/<%= imageToRender %>">
	</div>
	
		<div class="button-holder">
			<div class="button-form">
				<form class="vote-button" action="electric" method="post">
					<input type="hidden" name="image" value="<%= imageToRender %>">
					<input type="submit" name="submit" class="btn btn-primary" value="Lego!">
				</form>
			</div>
		</div>

		<div class="button-holder">
			<div class="button-form">
				<form class="vote-button" action="electric" method="post">
					<input type="hidden" name="image" value="<%= imageToRender %>">
					<input type="submit" name="submit" class="btn btn-danger" value="Fake!">
				</form>
			</div>
		</div>

		<div class="upload-form">
			

		</div>
	

</body>
</html>


