/* line 1, ../../compass/sass/styles.scss */
body {
  margin: 0px;
  color: #BCEC76;
  background-color: #00773A;
  text-align: center;
}

/* line 7, ../../compass/sass/styles.scss */
#imgHolder img {
  max-width: 350px;
  max-height: 350px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* line 18, ../../compass/sass/styles.scss */
#imgHolder {
  width: 400px;
  height: 400px;
  background-color: white;
  margin: auto;
  position: relative;
  border-radius: 10px;
}

/* line 27, ../../compass/sass/styles.scss */
.button-holder {
  display: inline-block;
  margin: 10px;
}

/* line 32, ../../compass/sass/styles.scss */
#lego {
  width: 75px;
}

/* line 36, ../../compass/sass/styles.scss */
.navbar-btn {
  margin-right: 10px;
}
